@import "reset";
@import "variables/global";
@import "themes/normal";
@import "themes/dark";
@import "variables/config";

#root {
  height: 1px;
  min-height: 100%;
}

.app {
  font: var(--font-m);
  background-color: rgb(var(--bg-color));
  color: rgb(var(--primary-color));
}

.appLayout {
  min-height: 600px;
  display: flex;
  flex-direction: column;
}

.appLayout .navBarOrder {
  order: 1;

  @media screen and (max-width: $media-sm) {
    order: 3;
  }
}

.mainLayout {
  display: flex;
  order: 2;
}

.pageWrapper {
  padding: 20px;
}

.centeredContainer {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
