@import "reset";
@import "variables/global";
@import "themes/normal";
@import "themes/dark";
@import "themes/orange";
@import "variables/config";

#root {
  height: 100%;
  min-height: 100%;
}

.app {
  font: var(--font-m);
  background-color: rgb(var(--bg-color));
  color: rgb(var(--primary-color));
}

.appLayout {
  min-height: 600px;
  height: calc(100vh - var(--navbar-height));
  display: flex;
  flex-direction: column;
}

.appLayout .navBarOrder {
  order: 1;

  @media screen and (max-width: $media-sm) {
    order: 3;
  }
}

.mainLayout {
  height: 100%;
  display: flex;
  order: 2;
}

.pageWrapper {
  width: 100%;
  height: 100%;
  padding: 20px;
  overflow-y: auto;
}

.centeredContainer {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
