.text {
  color: var(--secondary-color);
}

.left {
  text-align: left;
}

.right {
  text-align: right;
}

.center {
  text-align: center;
}

.size_m {
  font: var(--font-m);
}

.size_l {
  font: var(--font-l);
}
