.navBar {
    width: 100%;
    height: var(--navbar-height);
    padding: 10px;
    gap: 10px;
    background-color: var(--inverted-bg-color);
    display: flex;
    align-items: center;
}

.navBar .links {
    margin-right: auto;
}

.navBar a:not(:last-child) {
    margin-right: 10px;
}

.invertedColor {
    color: var(--inverted-primary-color);
}