.alert {
  padding: 0.5rem 0.75rem;
  border-width: 1px;
  border-radius: 5px;
  border-style: solid;
  color: #000;
}

.title {
  font-weight: bold;
}

.info {
  background-color: #e6f4ff;
  border-color: #91caff;
}

.success {
  background-color: #f6ffed;
  border-color: #b7eb8f;
}

.error {
  background-color: #fff2f0;
  border-color: #ffccc7;
}

.warning {
  background-color: #fffbe6;
  border-color: #ffe58f;
}