.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  visibility: hidden;
  z-index: -1;
  pointer-events: none;
}

.overlay {
  background-color: rgb(0 0 0 / 60%);
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.content {
  color: rgb(var(--primary-color));
  background-color: rgb(var(--bg-color));
  padding: 50px;
  max-width: 60%;
  transition: transform 0.2s;
  transform: scale(60%);
}

.opened {
  visibility: visible;
  z-index: var(--modal-z-index);
  pointer-events: all;

  .content {
    transform: scale(100%);
  }
}

.closing {
  .content {
    transform: scale(60%);
  }
}
