.sideBar {
  width: var(--side-bar-width);
  height: calc(100vh - var(--navbar-height));
  color: rgb(var(--inverted-primary-color));
  background-color: rgb(var(--inverted-bg-color));
  position: relative;
  transition: width 0.3s;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.collapsed {
  width: var(--side-bar-width-collapsed);
}

.centered {
  align-self: center;
}

.swithers {
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
}

.sideMenu {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color: rgb(var(--inverted-primary-color));

  a {
    width: 100%;
    padding: 8px 10px;
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: var(--font-size-m);
    text-decoration: none;
    color: rgb(var(--inverted-primary-color));

    &:hover {
      background-color: rgb(var(--bg-color) / 50%);
    }
  }

  &.collapsed {
    a {
      flex-direction: column;
      justify-content: center;
      text-align: center;
    }

    span {
      display: none;
    }
  }
}
