.list {
  .card {
    margin-bottom: 10px;
  }
}

.thumb {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;

  .card {
    display: inline-flex;
    height: 300px;
  }

  .row {
    gap: 30px;
    display: flex;
  }
}
