.formField {
    position: relative;
    width: 100%;
    padding: 5px 0;
    padding-bottom: 33px;
}

.formField .fieldTitle {
    font-weight: 800;
}

.formField .error {
    position: absolute;
    height: 23px;
    color: red;
    font: var(--font-s);
    transition: all 400ms ease;
}