.selectWrapper {
  display: flex;
  flex-direction: column;
}

.placeholder {
  margin-bottom: 2px;
}

.select {
  display: block;
  width: 100%;
  text-overflow: ellipsis;
  text-shadow: none;
  color: rgb(var(--primary-color));
  background: rgb(var(--bg-color));
  border: 1px solid #395365; // var for input and button border
  height: 34px;
  border-radius: 5px;
  transition: border-color 400ms;
}

.readonly {
  opacity: 0.7;
}
