body .dark {
  --bg-color: 0 0 0;
  --inverted-bg-color: 255 255 255;
  --primary-color: 255 255 255;
  --inverted-primary-color: 0 0 0;
  --secondary-color: 0 87 0;
  --menu-highlight-color: 165 42 42;
  --form-bg-color: 80 80 80;
  --form-border-color: 155 155 155;
  --warning-color: 255 0 0;

  // skeleton
  --skeleton-shadow: 220 220 220;
  --skeleton-color: 200 200 200;
}
