body .light {
  --bg-color: 255 255 255;
  --inverted-bg-color: 0 0 0;
  --primary-color: 0 0 0;
  --inverted-primary-color: 255 255 255;
  --secondary-color: 65 65 65;
  --menu-highlight-color: 165 42 42;
}