body .orange {
  --bg-color: 255 134 33;
  --inverted-bg-color: 0 0 0;
  --primary-color: 251 247 244;
  --inverted-primary-color: 255 134 33;
  --secondary-color: 251 247 244;
  --menu-highlight-color: 245 41 0;
  --form-bg-color: 157 193 215;
  --form-border-color: 0 0 0;
  --warning-color: 255 0 0;
}
